---
pagination:
    data: collections.categories
    size: 1
    alias: category
permalink: /categories/{{ category }}/
layout: main
---

<h1>{{ category }}</h1>


<ul>
	{% for recipe in collections.recipes %}
		{% if recipe.data.category == category %}
			<li><a href="{{ recipe.url }}">{{ recipe.data.title }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

