---
title: Arthur Recipe Box
eleventyExcludeFromCollections: true
layout: main
---

<h2>Categories</h2>
<ul>
	{% for category in collections.categories %}
		<li>
			<a href="/categories/{{ category }}">{{ category }}</a>
		</li>
	{% endfor %}
</ul>

<h2>Recipes</h2>
<ul>
	{% for recipe in collections.recipes %}
		<li><a href="{{ recipe.url }}">{{ recipe.data.title }}</a></li>
	{% endfor %}
</ul>
