---
layout: main
---

<h1>{{ title }}</h1>

{% if origin %}
	<p><em>From the kitchen of {{ origin }}</em></p>
{% endif %}

<hr />

{% if serves %}
	<p><strong>Serves {{ serves }}.</strong></p>
{% endif %}

{{ content }}
